<% layout('layouts/boilerplate') %>
    <h1>Enter the details</h1>
    <form action="/owner/new" method="POST">
        <input type="text" name="city[name]" placeholder="Name of Parking Lot">
        <input type="text" name="city[owner]" placeholder="Name of Owner">
        <!-- <input type="number" name="city[parkingSpot]" placeholder="no. of spaces"> -->
        <input type="number" name="city[cost]" placeholder="cost">
        <input type="text" name="city[location]" placeholder="Location">
        <button>Add Parking Lot</button>
    </form>

    <a href="/owner">Go back</a>
