<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Sign Up</title>
    <link type="text/css" rel="stylesheet" href="/css/form.css">
    <script src="/js/user/main.js"></script>
    <link rel="shortcut icon" type="image/png" href="https://res.cloudinary.com/dkrtupzet/image/upload/v1624187931/android-chrome-192x192_mbcgka.png">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a id="parCare" class="navbar-brand glow" href="/"><span class="glow1">par</span><span
              class="glow">C</span><span class="glow2">are</span></a>
      <button class="navbar-toggler" data-toggle="collapse" data-trigger="#qwerty">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="qwerty">
          <div class="offcanvas-header mt-3">
              <button type="button" class="btn-close float-left"><img class="rty"
                      src="https://res.cloudinary.com/dkrtupzet/image/upload/v1607506843/times-solid_as2cji.svg"></button>
              <h5 class="py-2" style="text-align: center; color: teal; font-weight: bolder;">Menu</h5>
          </div>
          <ul class="navbar-nav ml-auto" id="aeza">
              <li class="nav-item">
                  <a href="/city" class="nav-link plm">Cities</a>
              </li>
              <li class="nav-item">
                  <a href="/testmap/ghaziabad" class="nav-link plm">Airport</a>
              </li>
              <li class="nav-item">
                  <a href="#" class="nav-link plm">Stadiums</a>
              </li>
          </ul>
      </div>
  </nav>
      <%- include('../partials/flash') %>
      <%- body %>
      <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    -->
    <footer class="container card my-md-5 pt-md-5 border-top text-white" style="background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #04619f 74%);">
        <div class="row">
          <div class="col-12 col-md">
            <img class="mb-2" src="https://res.cloudinary.com/dkrtupzet/image/upload/v1624187931/android-chrome-192x192_mbcgka.png" alt="" width="50" height="50">
            <small class="d-block mb-3 text-muted">&#169;  2021</small>
          </div>
          <div class="col-6 col-md">
            <h5>Developed By:-</h5>
            <ul class="list-unstyled text-large">
              <li class="mb-1">Vinay Kumar Yadav</li>
              <li class="mb-1">Saurabh Chandra Pandey</li>
              <li class="mb-1">Rajesh Singh Bohra</li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>About</h5>
            <ul class="list-unstyled text-small">
              <li class="mb-1">Team</li>
              <li class="mb-1">Locations</li>
              <li class="mb-1">Privacy</li>
              <li class="mb-1">Terms</li>
            </ul>
          </div>
        </div>
      </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
  </body>
</html>
