<% layout('layouts/forms') %>
    <div class="row">
        <h1 class="ppq text-center"> Log In </h1>
        <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
          <div class="card shadow" id="lla">
           <div class="card-body" style="background-color: #000000;
           background-image: linear-gradient(147deg, #000000 0%, #04619f 74%);">
            <form class="mb-3 validate-forms" action="/login" method="POST" novalidate>
              <div class="mb-3">
                  <label class="ppq form-label text-white" for="username">Email  <sup class="sua">*</sup> </label>
                  <input class="form-control" type="email" name="username" placeholder="Email" autofocus required>
                  <div class="invalid-feedback">
                      Please enter email
                    </div>
              </div>
              <div class="mb-3">
                  <label class="ppq form-label text-white" for="password">Password  <sup class="sua">*</sup> </label>
                  <input class="form-control" type="password" name="password" placeholder="Password" required>
                  <div class="invalid-feedback">
                      Please enter password
                    </div>
              </div>
              <button class="btn btn-success">Log In</button>   
          </form>
          <div>
              <p class="ppq text-white">New User?.....</p>
              <a class="btn btn-primary" href="\signup">Sign Up</a>
          </div>
           </div>
          </div>  
        </div>
    </div>
    <script>
        (function () {
	// Fetch all the forms we want to apply custom Bootstrap validation styles to
	var forms = document.querySelectorAll('.validate-forms');
	// Loop over them and prevent submission
	Array.from(forms)
	  .forEach(function (form) {
		form.addEventListener('submit', function (event) {
		  if (!form.checkValidity()) {
			event.preventDefault()
			event.stopPropagation()
		  }
  
		  form.classList.add('was-validated')
		}, false)
	  })
  })()
  
  function validateEmail(email) {
  const re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
  return re.test(email);
}

function validate() {
  const $result = $("#result");
  const email = $("#username").val();
  $result.text("");

  if (validateEmail(email)) {  } else {
    alert("Wrong Email")
  }
  return false;
}

$("#username").on("input", validate);
    </script>