<% layout('layouts/boilerplate') %>
<input value="text">
<button onclick="my()">toggleAttribute("disabled")</button>

<script>
  var button = document.querySelector("button");
var input = document.querySelector("input");

  function my(){
    input.toggleAttribute("disabled");
  }
  
</script>