<% layout('layouts/boilerplate') %>
<div style="background: #159957; background: -webkit-linear-gradient(to right, #155799, #159957); background: linear-gradient(to right, #155799, #159957); height: 92.2vh;">
    <div style="width: 50%; margin: auto;padding: 100px;">
        <img class="img-fluid" src="https://res.cloudinary.com/dkrtupzet/image/upload/v1624180345/female-3_x9pwjd.gif" alt="">
        <a style="margin-left: 10px; letter-spacing: 0.3em;" href="/">Click here to redirect</a>
    </div>
</div>